@import "./fonts.css";
@import "./tailwind.css";
@import "./theme.css";

@layer utilities {
  @keyframes heartbeat {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
  }
  .animate-heartbeat {
    animation: heartbeat 2s ease-in-out infinite;
  }
}
